<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>spring-security | Login</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Happy Indra Wijaya"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="login-page">
    <div class="login-box">
        <div class="divide">
            <div>
                <a href="/">BACK</a>
                <h2>[403] Forbidden</h2>
                <p>You have no authority to access this page.</p>
            </div>
        </div>
        <div class="divide">
            <img class="robot" src="/static/img/robot.png" th:src="@{/img/robot.png}" alt="robot"/>
        </div>
    </div>
</div>
</body>
</html>