<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><html xmlns:th="https://www.thymeleaf.org">
      <head>
      <title>spring-security | Login</title>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Happy Indra Wijaya"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="login-page">
  <div class="login-box">
    <div class="divide">
      <div>
        <a href="/">BACK</a>
        <h2>Something went wrong..</h2>
        <p>There was an unexpected behavior.</p>
      </div>
    </div>
    <div class="divide">
      <img class="robot" src="/static/img/robot.png" th:src="@{/img/robot.png}" alt="robot"/>
    </div>
  </div>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>