<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>spring-security</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Happy Indra Wijaya"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="fragments/general :: header"></div>

<h2>Menu</h2>
<ul>
    <li>
        <a href="/public">Public</a>
    </li>
    <li>
        <a href="/profile">Profile</a>
    </li>
    <li>
        <a href="/config">Config</a>
    </li>
</ul>
</body>
</html>